<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc.xsd  
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
    
	  <description>Spring公共配置文件 </description>
	<!-- Maps '/' requests to the 'home' view -->
	<!-- <mvc: view-controller path="/" view-name="index"/> -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<!-- Spring MVC注释 @Controller -->
	<!-- <mvc:annotation-driven /> -->
	<!-- 默认的注解映射的支持 -->  
   <mvc:annotation-driven />
<!--    <mvc:annotation-driven validator="validator"/>
    以下 validator  ConversionService 在使用 mvc:annotation-driven 会 自动注册  
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">  
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>  
       如果不加默认到 使用classpath下的 ValidationMessages.properties  
   		<property name="validationMessageSource" ref="messageSource"/>   
    </bean>  
       
    国际化的消息资源文件（本系统中主要用于显示/错误消息定制）  
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
        <property name="basenames">  
            <list>  
                在web环境中一定要定位到classpath 否则默认到当前web应用下找   
                <value>classpath:messages</value>  
                <value>classpath:ValidationMessages</value>  
            </list>  
        </property>  
        <property name="useCodeAsDefaultMessage" value="false"/>  
        <property name="defaultEncoding" value="UTF-8"/>  
        <property name="cacheSeconds" value="60"/>  
    </bean> -->
    
	<!-- 配置过滤 -->
    <mvc:interceptors> 
        <!-- 开启openSessionInView -->
        <bean class="org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor">  
          <property name="sessionFactory" ref="sessionFactory" />  
        </bean>
        <!-- 自定义的权限拦截验证，如果不定义 mvc:mapping path 将拦截所有的URL请求 -->
        <!-- <bean class="com.hzboy.weixin.auth.AuthInterceptor"></bean> -->
    </mvc:interceptors>
	<!-- spring注释  -->
	<!-- AutowiredAnnotationBeanPostProcessor、CommonAnnotationBeanPostProcessor、
	PersistenceAnnotationBeanPostProcessor 以及 RequiredAnnotationBeanPostProcessor 这 4 个BeanPostProcessor-->
	<!-- <context:annotation-config /> -->
	
	<!-- context:component-scan 自动包含了 <context:annotation-config /> 的配置-->
	<context:component-scan base-package="com.hzboy.weixin">
		<context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect" />
	</context:component-scan>
	<!-- <beans>
         <import resource="applicationContext-hibernate.xml"/>
    </beans> -->
	<!-- 启动 @AspectJ 支持,用于指定代理技术，默认cglib -->
	<aop:aspectj-autoproxy />
	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
    in the /views directory -->
  <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!-- <beans:property name="prefix" value="/views/" /> -->
    <beans:property name="suffix" value=".jsp" />
  </beans:bean>
  <!-- Only needed because we require fileupload in the org.springframework.samples.mvc.fileupload package -->
  <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
</beans>

