<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c-%M:%L] [%p] - %m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>D:\\log\\weixin.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c-%M:%L] [%p] - %m%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>logger.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="ERROR">
		<appender-ref ref="stdout" />
		<appender-ref ref="R" />
	</root>
</configuration>
